*.egg-info
.DS_Store
*.pyc
*.pyo
*.swp
.spyderworkspace
*.orig
*.sqlite3
__pycache__
build/
Pipfile.lock

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
.npm
webpack-stats.json
yarn.lock